@page
@model PayrollCalculator.Web.Pages.PreviewCostModel
@{
    ViewData["Title"] = "Preview Cost";
}

<div class="container">
    <h2 class="mt-4 mb-3">
        @Model.EmployeeName Benefit Costs
    </h2>
</div>
